@mixin colorMain {
    color: #0F2E4E;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin size($width, $height:$width){
    width: $width;
    height: $height;
}

@mixin centerAbsolute($direction:"both"){
    position: absolute;
    @if $direction == "both"{
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    @if $direction == "left"{
        left: 50%;
        transform: translateX(-50%);
    }
    @if $direction == "top"{
        top: 50%;
        transform: translateY(-50%);
    }
}
